*{
    margin: 0;
    padding: 0;    
    font-family:cursive;
}
body{
    /* background-image:url("https://e1.pxfuel.com/desktop-wallpaper/658/565/desktop-wallpaper-4-plain-black-plain-black.jpg"); */
    background-color: black;
    color: whitesmoke;
    overflow: hidden;
    overflow-y: scroll;
}