#contactmain{
    width: 100%;
    height: 500px;
}
.Contactpage{
    display: flex;
    justify-content: center;
    color: rgb(37, 171, 93);

}
.Contactdes{
    padding: 40px 0 0 20px;
    font-size: medium;
    font-weight: 300;
    display: flex;
    justify-content: center;
}
.Contactform{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name , .email , .msg{
    font-size: medium;
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
}
.submitbtn{
    background-color: rgb(37, 171, 93);
    border: none;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 10px;
    height: 50px;
    width: 80px;
}
.linkedin{
    width:30px;
    height: 31px;
}
.github{ 
    padding-left: 25px;
    width:28px;
    height: 28px;
}
.submitbtn:hover{
    cursor: pointer;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;

}